@import url("./styles/reset.css");
@import url("./styles/media.css");
.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Container {
  width: 1140px;
  height: 70%;
  margin: 0 auto;
  -webkit-box-shadow: 4px 4px 8px 8px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 8px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 8px rgba(34, 60, 80, 0.2);
  display: flex;
}
tr:focus {
  background-color: lightgray;
  opacity: 1 !important;
}
